# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.tmp
*.temp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
Thumbs.db

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio & Gradle related
/android/app/debug
/android/app/profile
/android/app/release
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/key.properties
**/android/.idea/

# iOS/Xcode related
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/.generated/
**/ios/Pods/
**/ios/.symlinks/
**/ios/profile
**/ios/xcuserdata/
**/ios/Runner.xcworkspace/
**/ios/Runner.xcodeproj/project.xcworkspace/
**/ios/Runner.xcodeproj/xcuserdata/
**/ios/build/

# Build outputs
build/
**/build/

# Web related
lib/generated_plugin_registrant.dart

# macOS related
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral/
**/macos/Runner.xcworkspace/
**/macos/Runner.xcodeproj/xcuserdata/
**/macos/Runner.xcodeproj/project.xcworkspace/
**/macos/xcuserdata/
**/macos/Pods/

# Windows related
**/windows/flutter/ephemeral/
**/windows/CMakeFiles/
**/windows/Runner/GeneratedPluginRegistrant.*
**/windows/Runner.xcworkspace/
**/windows/Runner.xcodeproj/xcuserdata/

# Linux related
**/linux/flutter/ephemeral/
**/linux/CMakeFiles/
**/linux/Runner/GeneratedPluginRegistrant.*